<% include partials/header %>

<div class="container show">
      <div class="card border-secondary bg-light mb-3">
          <h1 class="heading card-title"><%= post.title %></h1>
          <div class="card-body">
            <hr>
            <img class="card-img-top" src="<%= post.image %>" alt="Card image cap">
            <hr>
            <p class="card-text"><%- post.body %></p>
            <strong>By <%= post.author.username %></strong>
            <p class="card-text"><small class="text-muted"><%= moment(post.createdAt).fromNow() %></small></p>
            <% if(currentUser && post.author.id.equals(currentUser._id)){ %>
                 <a href="/posts/<%= post._id %>/edit" class="btn btn-outline-primary">Edit</a>
                 <form class="delete-form" action="/posts/<%= post._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger">Delete</button>
                 </form>
            <% } %>
          </div>
      </div>
</div>

<div class="container">
<div class="card border-secondary bg-light mb-3 comments">
    <div class="text-right">
        <a class="btn btn-success new-comment-button" href="/posts/<%= post._id %>/comments/new">Add New Comment</a>
    </div>
    <% post.comments.forEach(function(comment){ %>
        <div class="media">
           <div class="media-body">
              <h5 class="mt-0"><%= comment.author.username %></h5>
              <%= comment.text %>
              <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
              <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <div>
                  <a class="btn comments-button btn-sm btn-primary" href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit">Edit</a>
                  <form class="delete-form" action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                      <button class= "btn comments-button btn-sm btn-danger">Delete</button>
                  </form>
                </div>
              <% } %>
             </div>
        </div>
    <% }); %>
  </div>
</div>

<% include partials/footer %>